<div class="card bg-primary col-12 text-light">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Currency</th>
                <th scope="col">Code</th>
                <th scope="col">Value in PLN</th>
                <th scope="col">Increase / Decrease</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rate of table?.rates" class="table-dark">
                <td>{{rate.currency.charAt(0).toUpperCase() + rate.currency.slice(1)}}</td>
                <td>{{rate.code}}</td>
                <td>{{rate.mid}}</td>
                <td *ngIf="compare(rate) > 0" class="text-success">+{{compare(rate).toFixed(2)}}% <i class="fa fa-arrow-up"></i></td>
                <td *ngIf="compare(rate) < 0" class="text-danger">{{compare(rate).toFixed(2)}}% <i class="fa fa-arrow-down"></i></td>
            </tr>
        </tbody>
    </table>
</div>